@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alice&family=Jersey+25&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alice&family=Jersey+25&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

header{
    background:url(img/header.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}
header h1{
    text-align: center;
    font-size: 35px;
    color: #fff;
    padding: 30px 0;
}
.contenedor{
    max-width: 300px;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
}
.productos-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.contenedor .contenedor-items{
    margin-top: 30px;
    column-gap: 30px;
    row-gap: 30px;
    width: 60%;
    transition: .3s;
    
}
.contenedor .contenedor-items .item{
    display: inline-block;
    background-color: #424242;
    width: 200px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    transition: .3s;
}
.contenedor-items .item:hover{
    box-shadow: 0 0 10px #ffffff;
    scale: 1.05;
}
.moneda-coint{
    background-color: #928f8f;
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 5px;
}
.moneda{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
}
  .anverso {
    transform: rotateY(0deg);
  }
  
  .reverso {
    transform: rotateY(180deg);
  }
  
  .moneda-coint:hover .anverso {
    transform: rotateY(-180deg);
  }
  
  .moneda-coint:hover .reverso {
    transform: rotateY(0deg);
  }
.contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor-items .item .info-item{
    margin-top: 5px ;
    color: rgb(228, 227, 227);
    float: left;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.contenedor-items .item .boton-item{
    position: relative;
    display: block;
    float: right;
    margin-top: 15px ;
    background: #0a0a0a;
    color: #FFFFFF;
    border: 2px solid #ffbf00;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.contenedor-items .item .boton-item:hover{
    color:#0a0a0a;
    background-color: #ffbf00;
}
.adv-no{
    margin-right: 200px;
    font-style: italic;
    font-weight: 900;
    font-size: 25px;
    line-height: 48px;
    color: #FFFFFF;
}
